header {
  display: flex;
  padding: 0 3rem;
  align-items: center;
}

header h2 {
  flex: 1;
  text-align: center;
  margin: 1.4rem;
}

header a {
  font-size: unset;
}

header a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.cartItemWrapper {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0rem 3rem;
}

span {
  cursor: pointer;
}

.warning {
  text-align: center;
}

.warning p {
  color: rgb(192, 0, 0);
  text-align: center;
}

.warning a {
  display: block;
  font-size: 1rem;
  text-underline-offset: 6px;
  text-decoration: underline;
  margin: 1.5rem 0;
  text-decoration-thickness: 1px;
}

.warning a:hover {
  opacity: 0.6;
}

button.billbtn {
  display: block;
  font-family: unset;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  font-size: unset;
}

.top {
  width: 2.5rem;
  aspect-ratio: 1;
  position: fixed;
  bottom: 2rem;
  right: 0.7rem;
  user-select: none;
  display: none;
  border-radius: 50%;
  background-color: #f1f7b5;
  place-items: center;
}

.top:hover {
  scale: 1.2;
  transform: all 0.3s ease;
}

.top.active {
  display: grid;
}
.top .material-symbols-outlined {
  font-size: 2rem;
}

@media (max-width: 500px) {
  header h2 {
    font-size: 1.2rem;
    margin: 1.4rem 0;
  }
}
