nav {
  display: flex;
  padding: 0.8rem 3rem;
  background-color: #f1f7b5;
  align-items: center;
  justify-content: space-between;
}
a {
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
}

/* a:focus {
  outline: 2px solid black;
  outline-offset: 5px;
} */

.cart {
  position: relative;
}

.totalitemsincart {
  color: white;
  width: 1rem;
  font-size: 0.7rem;
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  right: -1rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  position: absolute;
  background-color: black;
}

ul {
  list-style: none;
}
ul a {
  font-size: unset;
}

ul {
  align-items: center;
  gap: 2rem;
  display: flex;
}
ul li {
  cursor: pointer;
}

ul li:hover {
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  text-decoration: underline;
}

input {
  width: 40ch;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  outline: 1px solid black;
  background-color: #f1f7b5;
}

input:focus {
  outline: 2px solid black;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 50, "opsz" 48;
}
