.image {
  width: 15rem;
  height: 20rem;
  overflow: hidden;
  user-select: none;
  position: relative;
}

.image img {
  width: 100%;
  height: 100%;
  filter: brightness(1);
  object-fit: cover;
}

.image:hover img {
  scale: 1.1;
  opacity: 0.8;
  transition: scale 0.1s linear;
}

.image:not(:hover) img {
  scale: 1;
  transition: scale 0.1s ease;
}

.image:hover span {
  display: block;
}

.image span {
  margin: 0.2rem 0;
  bottom: 12%;
  opacity: 0.85;
  width: 100%;
  z-index: 100;
  display: none;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem;
  position: absolute;
  user-select: none;
  background-color: white;
}

.image span.nostock {
  color: red;
  cursor: not-allowed;
}

.image span.buy {
  bottom: 0%;
  background-color: #f1f7b5;
}

.image span.buy:hover {
  background-color: #f4ff76;
}

.info {
  padding: 0.2rem;
  text-align: center;
}

.info .price {
  color: green;
}

.info .offer {
  color: rgb(221, 143, 0);
}
